<script>
    $(document).ready(function () {
        $('select').formSelect();
    });

</script>
<div class="card-panel ">
<%= form_with(model: infraccion, local: true) do |form| %>
  <% if infraccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(infraccion.errors.count, "error") %> prohibited this infraccion from being saved:</h2>

      <ul>
      <% infraccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_field :fecha, id: :infraccion_fecha %>
  </div>

  <div class="field">
    <%= form.label :infractor_id %>
    <%= form.collection_select :infractor_id, Infractor.all, :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :policia_id %>
    <%= form.collection_select :policia_id, Policium.all, :id, :nombre %>
  </div>

  <div class="field">
    <%= form.label :tipo_infraccion_id %>
    <%= form.collection_select :tipo_infraccion_id, TipoInfraccion.all, :id, :nombre  %>
  </div>

  <div class="field">
    <%= form.label :vehiculo_id %>
    <%= form.collection_select :vehiculo_id,  Vehiculo.all, :id, :placa  %>
  </div>

  <div class="field">
    <%= form.label :monto_infracion %>
    <%= form.number_field :monto_infracion, id: :infraccion_monto_infracion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>