<script>
    $(document).ready(function () {
        $('select').formSelect();
    });

</script>
<div class="card-panel">
<%= form_with(model: inscripcion, local: true) do |form| %>
  <% if inscripcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inscripcion.errors.count, "error") %> prohibited this inscripcion from being saved:</h2>

      <ul>
      <% inscripcion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_field :fecha, id: :inscripcion_fecha %>
  </div>


  <div class="field">
    <%= form.label :estudiante_id %>
    <%= form.collection_select :estudiante_id, Estudiante.all, :id, :nombre %>
  </div>


  <div class="field">
    <%= form.label :curso_id %>
    <%= form.collection_select :curso_id, Curso.all, :id, :curso_with_grado %>
  </div>

  <div class="field">
    <%= form.label :monto %>
    <%= form.number_field :monto, id: :inscripcion_monto %>
  </div>

  <div  class="waves-effect grey lighten-2 btn" >
    <%= form.submit %>
  </div>
<% end %>
</div>