<p id="notice"><%= notice %></p>

<h1>Infrastructures</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Detalle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @infrastructures.each do |infrastructure| %>
      <tr>
        <td><%= infrastructure.nombre %></td>
        <td><%= infrastructure.detalle %></td>
        <td><%= link_to 'Show', infrastructure %></td>
        <td><%= link_to 'Edit', edit_infrastructure_path(infrastructure) %></td>
        <td><%= link_to 'Destroy', infrastructure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infrastructure', new_infrastructure_path %>
