<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.text_field :teacher_id, id: :note_teacher_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, id: :note_student_id %>
  </div>

  <div class="field">
    <%= form.label :materia %>
    <%= form.text_field :materia, id: :note_materia %>
  </div>

  <div class="field">
    <%= form.label :fecha_destino %>
    <%= form.text_field :fecha_destino, id: :note_fecha_destino %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :note_body %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.number_field :estado, id: :note_estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
