<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Teacher</th>
      <th>Student</th>
      <th>Materia</th>
      <th>Fecha destino</th>
      <th>Body</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.teacher %></td>
        <td><%= note.student %></td>
        <td><%= note.materia %></td>
        <td><%= note.fecha_destino %></td>
        <td><%= note.body %></td>
        <td><%= note.estado %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
