<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @note.teacher %>
</p>

<p>
  <strong>Student:</strong>
  <%= @note.student %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @note.materia %>
</p>

<p>
  <strong>Fecha destino:</strong>
  <%= @note.fecha_destino %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @note.estado %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
