<%= form_with(model: father, local: true) do |form| %>
  <% if father.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(father.errors.count, "error") %> prohibited this father from being saved:</h2>

      <ul>
      <% father.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :father_nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, id: :father_apellido %>
  </div>

  <div class="field">
    <%= form.label :celular %>
    <%= form.text_field :celular, id: :father_celular %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.number_field :tipo, id: :father_tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
