<h1>LOGIN</h1>

<%= form_tag("verificar_usuario", method: "get") do %>
  <%= label_tag(:name) %>
  <%= text_field_tag(:name) %>


  <%= label_tag(:password) %>
  <%= text_field_tag(:password) %>

  <%= label_tag(:type_user) %>
  <%= text_field_tag(:type_user) %>
  <%= submit_tag("verificar_usuario") %>
<% end %>
<img src="https://firebasestorage.googleapis.com/v0/b/software-eventos.appspot.com/o/images%2FCaptura%20de%20pantalla%20de%202016-12-21%2016-16-06.png?alt=media&token=a6c85e70-418a-4047-97eb-ad6149301a72">