<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function(){
        $('#ubicame').click(iniciar_geolocalizacion);
    });

    function iniciar_geolocalizacion() {
        navigator.geolocation.getCurrentPosition(geo_consulta, manejo_errores);
    }

    function manejo_errores(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED: alert("El usurio no compartió su ubicación geográfica");
                break;
            case error.POSITION_UNAVAILABLE: alert("No se pudo detectar la posición geográfica actual");
                break;
            case error.TIMEOUT: alert("Se ha agotado el tiempo de espera al consultar posición geográfica");
                break;
            default: alert("Error desconocido");
                break;
        }
    }

    function geo_consulta(posicion) {
        var img_url = 'http://maps.google.com/maps/api/staticmap?sensor=false&center=' + posicion.coords.latitude + "," + posicion.coords.longitude + '&zoom=14&size=600x500&markers=color:blue|label:s|' + posicion.coords.latitude + ',' + posicion.coords.longitude;
        $("#rastreo_latitud").val(posicion.coords.latitude);
        $("#rastreo_longitud").val(posicion.coords.longitude);
        $('#mapa').attr('src', img_url);
    }

</script>
<script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>


<style media="screen">
  #uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
  }
</style>
<button id="ubicame">Dibujar Mapa</button>
<img id="mapa" />

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @empleado.apellido %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @empleado.cargo %>
</p>



<% if user_is_empleado? %>
  <h2>Mis ubicaciones rastreadas</h2>
  <% @empleado.rastreos.each do |rastreo| %>
    <p>
      <strong>Fecha y Hora:</strong>
      <%= rastreo.fecha %>
    </p>
    <p>
      <strong>Latitud:</strong>
      <%= rastreo.latitud %>
    </p>
    <p>
      <strong>Longitud:</strong>
      <%= rastreo.longitud %>
    </p>
    <p>
      <strong>Imgagen:</strong>
      <img style="height: 80px" src= <%= rastreo.image.to_s %> >
    </p>
  <% end %>

<h3>Capturar mi ubicacion</h3>
  <%= form_for([@empleado, @empleado.rastreos.build]) do |f| %>
    <p>
      <%= f.label :latitud %><br>
      <%= f.text_field :latitud ,id: :rastreo_latitud%>
    </p>
    <p>
      <%= f.label :longitud %><br>
      <%= f.text_field :longitud ,id: :rastreo_longitud%>
    </p>
    <p>
      <progress value="0" max="100" id="uploader">0%</progress>
      <%= f.label :image %><br>
      <%= f.text_field :image %>
    </p>
    <p>
      <%= f.label :fecha %><br>
      <%= f.text_field :fecha , value: Time.now,id: :rastreo_fecha, :readonly => true %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  <button id="ubicame">mi ubicacion</button>
  <input type="file" value="upload" id="fileButton"/>
<% end %>

<% if user_is_admin?  %>
  <h2>Mis Lugares de trabajo</h2>
  <% @empleado.lugar_de_trabajos.each do |lugar_de_trabajo| %>
    <p>
      <strong>Zona</strong>
      <%= lugar_de_trabajo.zona %>
    </p>
    <p>
      <strong>Direccion:</strong>
      <%= lugar_de_trabajo.direccion %>
    </p>
    <p>
      <strong>Descripcion:</strong>
      <%= lugar_de_trabajo.descripcion%>
    </p>
  <% end %>
  <h3>Asignar lugar de trabajo:</h3>
  <%= form_for([@empleado, @empleado.lugar_de_trabajos.build]) do |f| %>
    <p>
      <%= f.label :zona %><br>
      <%= f.text_field :zona%>
    </p>
    <p>
      <%= f.label :direccion %><br>
      <%= f.text_field :direccion %>
    </p>
    <p>
      <%= f.label :descripcion %><br>
      <%= f.text_field :descripcion %>
    </p>
    <p>
    <%= f.submit %>
    </p>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_empleado_path(@empleado) %> |
<%= link_to 'Back', empleados_path %>


<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyD0miVM-LBHNt3FzaX-Apmsx4NkOvJowOY",
        authDomain: "software-eventos.firebaseapp.com",
        databaseURL: "https://software-eventos.firebaseio.com",
        projectId: "software-eventos",
        storageBucket: "software-eventos.appspot.com",
        messagingSenderId: "580152220271"
    };
    firebase.initializeApp(config);

    // Obtener Elementos
    var uploader = document.getElementById('uploader');
    var fileButton = document.getElementById('fileButton');

    // Vigilar selección archivo
    fileButton.addEventListener('change', function (e) {
        //Obtener archivo
        var file = e.target.files[0];

        // Crear un storage ref
        var storageRef = firebase.storage().ref('mis_fotos/' + file.name);


        // Subir archivo
        var task = storageRef.put(file);
        //referenciando a la base de datos
        var TablaDeBaseDatos = firebase.database().ref('Imagenes');

        // Actualizar barra progreso
        task.on('state_changed',

            function progress(snapshot) {
                var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                uploader.value = percentage;

            },

            function error(error) {

            },


            function complete() {
                var downloadURL = task.snapshot.downloadURL;
                TablaDeBaseDatos.push({
                    urlLarge: downloadURL,
                    url: downloadURL,
                    name: file.name,
                });
                $("#rastreo_image").val(downloadURL.toString());

            }
        )


    });


</script>

