<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $(document).ready(function(){
        $('#ubicame').click(iniciar_geolocalizacion);
    });

    function iniciar_geolocalizacion() {
        navigator.geolocation.getCurrentPosition(geo_consulta, manejo_errores);
    }

    function manejo_errores(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED: alert("El usurio no compartió su ubicación geográfica");
                break;
            case error.POSITION_UNAVAILABLE: alert("No se pudo detectar la posición geográfica actual");
                break;
            case error.TIMEOUT: alert("Se ha agotado el tiempo de espera al consultar posición geográfica");
                break;
            default: alert("Error desconocido");
                break;
        }
    }

    function geo_consulta(posicion) {
        var img_url = 'http://maps.google.com/maps/api/staticmap?sensor=false&center=' + posicion.coords.latitude + "," + posicion.coords.longitude + '&zoom=14&size=600x500&markers=color:blue|label:s|' + posicion.coords.latitude + ',' + posicion.coords.longitude;
        $("#rastreo_latitud").val(posicion.coords.latitude);
        $("#rastreo_longitud").val(posicion.coords.longitude);
    }

</script>

<style type="text/css">
  button {
    width: 200px;
    height: 50px;
    display: block;
  }

</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @empleado.apellido %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @empleado.cargo %>
</p>

<h2>RASTREOS</h2>
<% @empleado.rastreos.each do |rastreo| %>
  <p>
    <strong>Comentarista:</strong>
    <%= rastreo.latitud %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= rastreo.longitud %>
  </p>
<% end %>

<h2>Add a rastreo:</h2>
<%= form_for([@empleado, @empleado.rastreos.build]) do |f| %>
  <p>
    <%= f.label :latitud %><br>
    <%= f.text_field :latitud ,id: :rastreo_latitud%>
  </p>
  <p>
    <%= f.label :longitud %><br>
    <%= f.text_field :longitud ,id: :rastreo_longitud%>
  </p>
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Add a lugar de trabajo:</h2>
<%= form_for([@empleado, @empleado.lugar_de_trabajos.build]) do |f| %>
  <p>
    <%= f.label :zona %><br>
    <%= f.text_field :zona%>
  </p>
  <p>
    <%= f.label :latitud %><br>
    <%= f.text_field :latitud%>
  </p>
  <p>
    <%= f.label :longitud %><br>
    <%= f.file_field :longitud %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<button id="ubicame">mi ubicacion</button>
<img id="mapa" />

<%= link_to 'Edit', edit_empleado_path(@empleado) %> |
<%= link_to 'Back', empleados_path %>
