<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estudiante.nombre %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @estudiante.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @estudiante.apellido_materno %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
