<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @course.numero %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @course.nivel %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @course.teacher %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
