<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href=<%=image_path("agenda.png")%>>
    <title>AgendaEscolar</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Sistema de infracciones</a>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<!--      <ul class="right hide-on-med-and-down">
        <li><a href="fathers">Padres</a></li>
        <li><a href="students">Estudiantes</a></li>
        <li><a href="read_notes">Notas </a></li>
        <li><a href="courses"> Cursos</a></li>
      </ul>-->
    </div>
  </nav>
  <ul class="sidenav " id="mobile-demo">
    <li><a href="/" data-turbolinks="false">Vehiculos</a></li>
    <li><a href="/" data-turbolinks="false">Infractores</a></li>
    <li><a href="/" data-turbolinks="false">Multas</a></li>
    <li><a href="/" data-turbolinks="false">Policias</a></li>
    <li><a href="/" data-turbolinks="false"> Cursos</a></li>
    <li><a href="/users" data-turbolinks="false"> Registrar Usuarios </a></li>
    <li><a href="/users/login" data-turbolinks="false"> Login</a></li>
  </ul>
  <body>
    <div class="container">
      <%= yield %>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
      </div>
    </div>
  </body>
</html>
