<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href=<%=image_path("agenda.png")%>>
    <title>Sistemas II</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Sistemas II</a>
        <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a style="color: #eeeeee;padding-top: 15px;" href="/infrastructures" data-turbolinks="false">Infraestructura</a></li>
          <li><a style="color: #eeeeee;padding-top: 15px;" href="/teachers" data-turbolinks="false">Profesores</a></li>
          <li><a style="color: #eeeeee;padding-top: 15px;" href="/estudiantes" data-turbolinks="false">Estudiante</a></li>
          <li><a style="color: #eeeeee;padding-top: 15px;" href="/cursos" data-turbolinks="false">Cursos</a></li>
          <li><a style="color: #eeeeee;padding-top: 15px;" href="/inscripcions" data-turbolinks="false">Inscriopciones</a></li>
          <li><a style="color: #eeeeee;padding-top: 15px;" href="/users/login" data-turbolinks="false"> Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav " id="mobile-demo">
    <li><a  href="/teachers" data-turbolinks="false">Profesores</a></li>
    <li><a href="/estudiantes" data-turbolinks="false">Estudiante</a></li>
    <li><a href="/cursos" data-turbolinks="false">Cursos</a></li>
    <li><a href="/inscripcions" data-turbolinks="false">Inscriopciones</a></li>
    <li><a href="/users/login" data-turbolinks="false"> Login</a></li>
  </ul>

  <body>
    <div class="container">
      <%= yield %>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
      </div>
    </div>
  </body>
</html>
